Part 1
2. Addressing PII data
3. Regional segmentation of the data

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Josepa Cusid√≥\092022 Instacart Basket Analysis'

In [3]:
ords_prods_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.pkl'))

In [4]:
# Dealing with memory errors
ords_prods_customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30328763 entries, 0 to 30328762
Data columns (total 30 columns):
 #   Column                   Dtype
---  ------                   -----
 0   order_id                 int32
 1   user_id                  int32
 2   order_number             int8
 3   orders_day_of_week       int8
 4   order_time               int8
 5   days_since_prior_order   float16
 6   product_id               int32
 7   add_to_cart_order        int32
 8   reordered                int32
 9   product_name             object
 10  aisle_id                 int32
 11  department_id            int32
 12  prices                   float16
 13  price_range_loc          object
 14  busiest_days             object
 15  busiest_period_of_day    object
 16  max_order                int8
 17  loyalty_flag             object
 18  mean_prices              float32
 19  spending_flag            object
 20  median_days_prior_order  float16
 21  frecuency_flag           object
 22  Gender                   object
 23  US State                 object
 24  Age                      int32
 25  date_joined              object
 26  n_dependants             int32
 27  fam_status               object
 28  income                   int32
 29  region                   object
dtypes: float16(3), float32(1), int32(10), int8(4), object(12)
memory usage: 4.5+ GB

ords_prods_customers['prices']=ords_prods_customers['prices'].astype('float16')
ords_prods_customers['product_id']=ords_prods_customers['product_id'].astype('int32')
ords_prods_customers['add_to_cart_order']=ords_prods_customers['add_to_cart_order'].astype('int32')
ords_prods_customers['reordered']=ords_prods_customers['reordered'].astype('int32')
ords_prods_customers['Unnamed: 0']=ords_prods_customers['Unnamed: 0'].astype('int32') 
ords_prods_customers['mean_prices']=ords_prods_customers['mean_prices'].astype('float32') 
ords_prods_customers['aisle_id']=ords_prods_customers['aisle_id'].astype('int32')
ords_prods_customers['department_id']=ords_prods_customers['department_id'].astype('int32') 
ords_prods_customers['n_dependants']=ords_prods_customers['n_dependants'].astype('int32')

# 2. Addressing PII data
ords_prods_customers = ords_prods_customers.drop(columns = ['First Name', 'Last Name', '_merge', 'Unnamed: 0', 'busiest_day'])

# 3. Regional segmentation of the data

In [5]:
Northeast = ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']
Midwest = ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']
South = ['Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana']
West = ['Idaho','Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico','Alaska','Washington','Oregon','California','Hawaii']

In [6]:
ords_prods_customers.loc[ords_prods_customers['US State'].isin(Northeast), 'region']='Northeast'
ords_prods_customers.loc[ords_prods_customers['US State'].isin(Midwest), 'region']='Midwest'
ords_prods_customers.loc[ords_prods_customers['US State'].isin(South), 'region']='South'
ords_prods_customers.loc[ords_prods_customers['US State'].isin(West), 'region']='West'

In [7]:
ords_prods_customers['region'].value_counts(dropna=False)

South        10099817
West          7765088
Midwest       7107586
Northeast     5356272
Name: region, dtype: int64

In [8]:
# Spending habits between the differet U.S. regions
crosstab=pd.crosstab(ords_prods_customers['region'], ords_prods_customers['spending_flag'],  dropna=False)
crosstab

spending_flag  High spender  Low spender
region
Midwest              148198      6959265
Northeast            102839      5253367
South                197038      9902707
West                 149783      7615166

The number of high and low spenders depends on the number of states per region. There are no major differences among regions.

In [9]:
# Exporting Data
ords_prods_customers.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'))