Part 1
4. Chunksize for a new dataset without the "Non-frequent customer"

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Josepa Cusidó\092022 Instacart Basket Analysis'

In [3]:
# Chunksize for a new dataset without the "Non-frequent customer"
ords_prods_customers = pd.DataFrame()
np.random.seed(4)
for chunk in pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'), chunksize=100000, header=0):
    dev = np.random.rand(len(chunk)) <= 0.5
    subset = chunk[dev]
    df_chunk = subset.loc[subset['frecuency_flag']!='Non-frequent customer'].dropna()
    ords_prods_customers = pd.concat([ords_prods_customers, df_chunk.copy()])

In [4]:
ords_prods_customers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13635620 entries, 54 to 30328759
Data columns (total 31 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   order_id                 int64
 2   user_id                  int64
 3   order_number             int64
 4   orders_day_of_week       int64
 5   order_time               int64
 6   days_since_prior_order   float64
 7   product_id               int64
 8   add_to_cart_order        int64
 9   reordered                int64
 10  product_name             object
 11  aisle_id                 int64
 12  department_id            int64
 13  prices                   float64
 14  price_range_loc          object
 15  busiest_days             object
 16  busiest_period_of_day    object
 17  max_order                int64
 18  loyalty_flag             object
 19  mean_prices              float64
 20  spending_flag            object
 21  median_days_prior_order  float64
 22  frecuency_flag           object
 23  Gender                   object
 24  US State                 object
 25  Age                      int64
 26  date_joined              object
 27  n_dependants             int64
 28  fam_status               object
 29  income                   int64
 30  region                   object
dtypes: float64(4), int64(15), object(12)
memory usage: 3.3+ GB

Chunksize for a new dataset without the "Non-frequent customer"
ords_prods_customers = pd.DataFrame()
for chunk in pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'), chunksize=100000, header=0):
    df_chunk = chunk.loc[chunk['frecuency_flag']!='Non-frequent customer'].dropna()
    ords_prods_customers = pd.concat([ords_prods_customers, df_chunk.copy()])

Chunksize for a new dataset without the "Non-frequent customer"
ords_prods_customers = pd.DataFrame()
np.random.seed(4)
for chunk in pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'), chunksize=100000, header=0):
    dev = np.random.rand(len(chunk)) <= 0.5
    subset = chunk[dev]
    df_chunk = subset.loc[subset['frecuency_flag']!='Non-frequent customer'].dropna()
    ords_prods_customers = pd.concat([ords_prods_customers, df_chunk.copy()])

Chunksize for a new dataset without the "Non-frequent customer"
i=0
for chunk in pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'), chunksize=2000000, header=0):
    df_chunk = chunk.loc[chunk['frecuency_flag']!='Non-frequent customer'].dropna()
    df_chunk.to_csv(os.path.join(path, '02 Data', 'Prepared Data', f'o_p_c_{i}.csv'))
    i=i+1

In [5]:
ords_prods_customers.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,...,median_days_prior_order,frecuency_flag,Gender,US State,Age,date_joined,n_dependants,fam_status,income,region
54,54,2968173,15,15,1,9,7.0,196,2,0,...,10.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest
55,55,1870022,15,17,2,16,8.0,196,6,1,...,10.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest
57,57,2715276,15,21,1,9,7.0,196,1,1,...,10.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest
59,59,3135826,15,2,6,12,15.0,12427,2,1,...,10.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest
61,61,3119091,15,8,2,17,8.0,12427,1,1,...,10.0,Frequent customer,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest

In [6]:
# Exporting Data
ords_prods_customers.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_Products_Customers.csv'))